<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <img src="<%= restaurant.image%>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= restaurant.title%>
                    </h5>
                    <p class="card-text">
                        <%= restaurant.description%>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= restaurant.location%>
                    </li>
                    <li class="list-group-item">$<%= restaurant.priceRange%>/night</li>
                </ul>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/restaurants/<%=restaurant._id%>/edit">Edit</a>
                    <form class="d-inline" action="/restaurants/<%=restaurant._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <a class="card-link btn btn-primary" href="/restaurants">See All Restaurants</a>

                </div>
                <div class="card-footer text-muted">
                    Added by Qtip
                </div>
            </div>
        </div>
    </div>